.maineHeader{
    width: 100%;
    height: 100vh;
    ::before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img//wp4728101.jpg);
    filter: blur(5px);
    z-index: -1;
    }
}
@media (max-width: 768px) { 
    .maineHeader{
    background-image: url(../img/victor-zhuk-YReQIljurfQ-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
}